*{
    padding: 0;
    margin: 0;
}

/* header-start*/
.header{
    background-color: bisque;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navlinks{
    display: flex;
}

/* header-end*/

/* banner image-start*/
.bannerImage{
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* banner image-end*/